a:link { font-family:Verdana; font-size:10pt; text-decoration:none; }
a:visited { font-family:Verdana; font-size:10pt; text-decoration:none; }
a:active { font-family:Verdana; font-size:10pt; text-decoration:none; }
a:hover { font-family:Verdana; font-size:10pt; text-decoration:underline; }
